{%extends 'base.html'%}

{%load bootstrap4%}
{%block content%}

<div  class="container">
  <br><br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <div>
                  <form class="form-group" action="" method="post" enctype="multipart/form-data">
                    <div class="mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                          class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar" height="50px" width="50px">
                    </div>
                    <h3>Upload a new photo</h3>
                    {%csrf_token%}
                    {%bootstrap_form form%}
          
                    <button id="makeUpload" class="btn btn-dark" type="submit" name="button">Upload</button>
          
                  </form>
                  
      
                </div>
            </div>
          
          </div>
  

          
    </div>
    <div class="col-md-4"></div>
  </div>



</div>
{% endblock %}